# Recommendation System
# Rekomendasi Game dengan teknik *content-based filtering*

*Oleh: [Rifqi Novandi](https://github.com/rifqinvnd)*

## Latar Belakang
Pada proyek machine learning ini, akan dibuat model sistem rekomendasi untuk memprediksi game yang disukai berdasarkan game lain yang memiliki kesamaan serupa atau dengan menggunakan teknik *content-based filtering* dengan beberapa variabel seperti platform, tahun rilis, genre, dll.

## 1. Menginstall dan mengimpor library yang dibutuhkan

In [ ]:
# menginstall library yang dibutuhkan
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.22.2.post1)
Collecting scikit-learn
  Downloading scikit_learn-1.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (23.1 MB)
     |████████████████████████████████| 23.1 MB 1.5 MB/s
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.0.0-py3-none-any.whl (14 kB)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Installing collected packages: threadpoolctl, scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-1.0 threadpoolctl-3.0.0

In [1]:
# menggunakan library os, zipfile untuk menyiapkan dataset
import os
import zipfile

# library untuk pengolahan data
import pandas as pd
import numpy as np
from collections import Counter
from sklearn.preprocessing import MinMaxScaler

# library untuk membuat model sistem rekomendasi
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import cosine_similarity

# Untuk evaluasi sistem rekomendasi
from sklearn.metrics import calinski_harabasz_score, davies_bouldin_score

## 2. Mempersiapkan Dataset

### 2.1 Menyiapkan userame dan key akun Kaggle

In [2]:
# menyiapkan kredensial environment Kaggle
os.environ['KAGGLE_USERNAME'] = 'rifqinovandi'
os.environ['KAGGLE_KEY'] = '03877f2b4798e3c6def8f76fd42e3070'

### 2.2 Mengunduh dan mempersiapkan dataset

In [3]:
# mengunduh dataset dengan Kaggle CLI
!kaggle datasets download -d rush4ratio/video-game-sales-with-ratings

Downloading video-game-sales-with-ratings.zip to /content
  0% 0.00/476k [00:00<?, ?B/s]
100% 476k/476k [00:00<00:00, 32.2MB/s]

In [4]:
# mengekstaksi berkas zip ke CWD
files = "/content/video-game-sales-with-ratings.zip"
zip = zipfile.ZipFile(files, 'r')
zip.extractall('/content')
zip.close()

## 3. Pemahaman Data (*Data Understanding*)

### 3.1 Membaca data dengan pandas DataFrame

In [5]:
df = pd.read_csv(files)
df.head()

                       Name Platform  ...  Developer Rating
0                Wii Sports      Wii  ...   Nintendo      E
1         Super Mario Bros.      NES  ...        NaN    NaN
2            Mario Kart Wii      Wii  ...   Nintendo      E
3         Wii Sports Resort      Wii  ...   Nintendo      E
4  Pokemon Red/Pokemon Blue       GB  ...        NaN    NaN

[5 rows x 16 columns]

## 3.2 Memahami isi keseluruhan dataset

In [6]:
# mengecek shape dari  DataFrame
df.shape

(16719, 16)

In [7]:
# melihat info dataset yang digunakan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [8]:
# melihat jumlah data kosong pada setiap kolom
df.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [9]:
# mendeskripsikan setiap kolom dataset
df.describe()

       Year_of_Release      NA_Sales  ...  Critic_Count    User_Count
count     16450.000000  16719.000000  ...   8137.000000   7590.000000
mean       2006.487356      0.263330  ...     26.360821    162.229908
std           5.878995      0.813514  ...     18.980495    561.282326
min        1980.000000      0.000000  ...      3.000000      4.000000
25%        2003.000000      0.000000  ...     12.000000     10.000000
50%        2007.000000      0.080000  ...     21.000000     24.000000
75%        2010.000000      0.240000  ...     36.000000     81.000000
max        2020.000000     41.360000  ...    113.000000  10665.000000

[8 rows x 9 columns]

## 4. Mempersiapkan Data (*Data Preparation*)

### 4.1 Membuang kolom yang memiliki banyak *missing-value*

In [10]:
# membuang kolom dengan missing value yang tinggi
df.drop(['Global_Sales', 'Critic_Score', 'Critic_Count', 'User_Count'], axis=1, inplace=True)

### 4.2 Membersihkan data setiap kolom

#### 4.2.1 Kolom Name

In [11]:
# mengecek missing value kolom name
df[df['Name'].isna()]

      Name Platform  Year_of_Release  ... User_Score Developer  Rating
659    NaN      GEN           1993.0  ...        NaN       NaN     NaN
14246  NaN      GEN           1993.0  ...        NaN       NaN     NaN

[2 rows x 12 columns]

In [12]:
# menghapus missing-value
for index in df[df['Name'].isna()].index:
  df.drop(index, axis=0, inplace=True)

In [13]:
# memastikan kembali missing-value telah terhapus
if(df['Name'].isna().sum() == 0):
  print("Tidak ada data kosong pada kolom Name")
else:
  print("Terdapat data kosong pada kolom Name")

Tidak ada data kosong pada kolom Name

#### 4.2.2 Kolom Platform

In [14]:
# menggunakan collections Counter untuk mengecek jumlah setiap elemen kolom platform
platform_counter = Counter(df['Platform'])
platform_counter

Counter({'2600': 133,
         '3DO': 3,
         '3DS': 520,
         'DC': 52,
         'DS': 2152,
         'GB': 98,
         'GBA': 822,
         'GC': 556,
         'GEN': 27,
         'GG': 1,
         'N64': 319,
         'NES': 98,
         'NG': 12,
         'PC': 974,
         'PCFX': 1,
         'PS': 1197,
         'PS2': 2161,
         'PS3': 1331,
         'PS4': 393,
         'PSP': 1209,
         'PSV': 432,
         'SAT': 173,
         'SCD': 6,
         'SNES': 239,
         'TG16': 2,
         'WS': 6,
         'Wii': 1320,
         'WiiU': 147,
         'X360': 1262,
         'XB': 824,
         'XOne': 247})

In [15]:
# menghilangkan kolom dengan jumlah kurang dari 350
platform_less_than_350 = ['2600', '3DO', 'DC', 'GB', 'GEN', 'GG', 'N64','NES', 'NG',
                          'PCFX', 'SAT', 'SCD', 'SNES', 'TG16', 'WS', 'WiiU', 'XOne']

df = df[~df['Platform'].isin(platform_less_than_350)]

In [16]:
# mengecek elemen pada kolom platform
df['Platform'].unique()

array(['Wii', 'DS', 'X360', 'PS3', 'PS2', 'GBA', 'PS4', '3DS', 'PS', 'XB',
       'PC', 'PSP', 'GC', 'PSV'], dtype=object)

#### 4.2.3 Kolom Genre

In [17]:
# mengecek missing value pada kolom genre
df['Genre'].isna().sum()

0

In [18]:
# mengecek elemen berbeda pada kolom genre
df['Genre'].unique()

array(['Sports', 'Racing', 'Platform', 'Misc', 'Simulation', 'Action',
       'Role-Playing', 'Puzzle', 'Shooter', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [19]:
# mengecek jumlah setiap elemen pada kolom genre
genre_counter = Counter(df['Genre'])
genre_counter

Counter({'Action': 3082,
         'Adventure': 1229,
         'Fighting': 718,
         'Misc': 1641,
         'Platform': 738,
         'Puzzle': 505,
         'Racing': 1132,
         'Role-Playing': 1359,
         'Shooter': 1182,
         'Simulation': 835,
         'Sports': 2108,
         'Strategy': 624})

In [20]:
# membuang row dengan genre misc yang terlalu komplex
df = df[df['Genre'] != 'Misc']

In [21]:
# mengecek kembali info dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13512 entries, 0 to 16718
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             13512 non-null  object
 1   Platform         13512 non-null  object
 2   Year_of_Release  13293 non-null  float64
 3   Genre            13512 non-null  object
 4   Publisher        13485 non-null  object
 5   NA_Sales         13512 non-null  float64
 6   EU_Sales         13512 non-null  float64
 7   JP_Sales         13512 non-null  float64
 8   Other_Sales      13512 non-null  float64
 9   User_Score       8844 non-null   object
 10  Developer        8925 non-null   object
 11  Rating           8792 non-null   object
dtypes: float64(5), object(7)
memory usage: 1.3+ MB

#### 4.2.4 Kolom Publisher

In [22]:
# mengecek missing-value pada kolom publisher
df['Publisher'].isna().sum()

27

In [23]:
# membuang setiap row dengan missing value
for index in df[df['Publisher'].isna()].index:
  df.drop(index, axis=0, inplace=True)

In [24]:
# mengecek kembali setiap missing value pada kolom publisher telah dibuang
if(df['Publisher'].isna().sum() == 0):
  print("Tidak ada data kosong pada kolom Publisher")
else:
  print("Terdapat data kosong pada kolom Publisher")

Tidak ada data kosong pada kolom Publisher

In [25]:
# mengecek elemen elemen pada kolom publisher
df['Publisher'].unique()

array(['Nintendo', 'Take-Two Interactive', 'Sony Computer Entertainment',
       'Activision', 'Microsoft Game Studios', 'Bethesda Softworks',
       'Electronic Arts', 'Sega', 'SquareSoft', '505 Games', 'Ubisoft',
       'GT Interactive', 'Konami Digital Entertainment', 'Square Enix',
       'Sony Computer Entertainment Europe', 'Virgin Interactive',
       'LucasArts', 'Capcom', 'Warner Bros. Interactive Entertainment',
       'Universal Interactive', 'Eidos Interactive', 'Atari',
       'Vivendi Games', 'Enix Corporation', 'Hasbro Interactive',
       'Namco Bandai Games', 'THQ', 'Fox Interactive',
       'Acclaim Entertainment', 'Disney Interactive Studios',
       'Codemasters', 'Majesco Entertainment', 'Red Orb', 'Level 5',
       'Midway Games', 'JVC', 'Deep Silver', 'NCSoft', '989 Studios',
       'UEP Systems', 'Maxis', 'Tecmo Koei', 'ASCII Entertainment',
       'Valve Software', 'Unknown', 'Valve', 'Hello Games', 'D3Publisher',
       'Activision Value', 'Infogrames', 'Red Storm Entertainment',
       'Global Star', 'Gotham Games', 'Westwood Studios', 'GungHo',
       'Crave Entertainment', 'TDK Mediactive', 'ASC Games', 'Accolade',
       'Sony Online Entertainment', '3DO', 'Natsume', 'RTL', 'Alchemist',
       'Black Label Games', 'SouthPeak Games', 'Focus Home Interactive',
       'Zoo Digital Publishing', 'Psygnosis', 'City Interactive',
       'Empire Interactive', 'Success', 'Compile', 'Russel', 'Atlus',
       'Mastertronic', 'Slightly Mad Studios', 'Taito', 'Agetec',
       'Microprose', 'Play It', 'Tomy Corporation', 'Koch Media',
       'Game Factory', 'Titus', 'Marvelous Entertainment', 'Genki',
       'Mojang', 'CTO SpA', 'TalonSoft', 'Crystal Dynamics',
       'Square Enix ', 'mixi, Inc', 'SCi', 'Rage Software',
       'Ubisoft Annecy', 'Interplay', 'Rising Star Games',
       'Scholastic Inc.', 'Square EA', 'Hudson Soft', 'Banpresto',
       'Hudson Entertainment', 'Nobilis', 'Avanquest Software',
       'Big Ben Interactive', 'Touchstone', 'Spike',
       'Nippon Ichi Software', 'Sony Computer Entertainment America',
       'Jester Interactive', 'Illusion Softworks', 'Metro 3D', 'GSP',
       'Rondomedia', 'Square', 'Ghostlight',
       'BMG Interactive Entertainment', 'PQube', 'Trion Worlds',
       'Xseed Games', 'Ignition Entertainment', 'Kadokawa Shoten',
       'Enterbrain', 'System 3 Arcade Software', 'Gamebridge',
       'Midas Interactive Entertainment', 'Jaleco', 'XS Games',
       'Rebellion', 'Activision Blizzard', 'Xplosiv', 'Wanadoo',
       'Telltale Games', 'NovaLogic', 'BAM! Entertainment',
       'Tetris Online', 'Mastiff', 'TYO', 'Screenlife',
       'Knowledge Adventure', 'Pioneer LDC', 'Magical Company',
       'Zoo Games', 'Electronic Arts Victor', 'Human Entertainment',
       'Jack of All Games', 'Black Bean Games', '989 Sports', 'Destineer',
       'Takara Tomy', 'ChunSoft', 'Starfish', 'Zushi Games', 'Jorudan',
       'LEGO Media', 'Destination Software, Inc', 'New',
       'Sammy Corporation', 'Brash Entertainment', 'Kalypso Media',
       'Ackkstudios', 'PopCap Games', 'Gathering of Developers', 'Ocean',
       'Marvelous Interactive', 'Avanquest', 'Storm City Games',
       'CokeM Interactive', 'Home Entertainment Suppliers',
       'Arc System Works', 'Mud Duck Productions', 'Wargaming.net',
       'Playmates', 'Hamster Corporation', 'From Software',
       'Conspiracy Entertainment', 'Mumbo Jumbo', 'DTP Entertainment',
       'Indie Games', 'NewKidCo', 'Takara', 'Liquid Games', 'Axela',
       'ArtDink', 'Sunsoft', 'Little Orbit', 'FuRyu', 'Gust', 'Mindscape',
       'Nihon Falcom Corporation', 'Xing Entertainment', 'ValuSoft',
       'Oxygen Interactive', 'American Softworks', 'Falcom Corporation',
       'Kemco', 'Detn8 Games', 'Nordic Games', 'Milestone S.r.l.',
       'Mattel Interactive', 'Seta Corporation', 'On Demand', 'CCP',
       'Rebellion Developments', 'Agatsuma Entertainment', 'Aspyr',
       'Compile Heart', 'Merscom LLC', 'JoWood Productions', 'TDK Core',
       'Kadokawa Games', 'Nordcurrent', 'SSI', 'Media Rings',
       'Foreign Media Games', 'Core Design Ltd.', 'bitComposer Games',
       'Victor Interactive', 'Astragon', 'Asylum Entertainment',
       'Performance Designed Products', 'Essential Games', 'SNK',
       'Adeline Software', 'Funcom', 'PlayV', 'GameMill Entertainment',
       'Panther Software', 'Blast! Entertainment Ltd',
       'Gremlin Interactive Ltd', 'Playlogic Game Factory',
       'Nippon Columbia', 'Popcorn Arcade', 'Aques', 'System 3',
       'AQ Interactive', 'Vir2L Studios', 'Vatical Entertainment',
       'Neko Entertainment', 'White Park Bay Software', 'Daedalic',
       'The Adventure Company', 'EA Games', 'UFO Interactive', 'Acquire',
       'Broccoli', 'General Entertainment', 'Paradox Interactive',
       'Yacht Club Games', 'Swing! Entertainment', 'Aqua Plus',
       'Excalibur Publishing', 'Hip Interactive', 'Tripwire Interactive',
       'Rocket Company', 'DreamCatcher Interactive', 'SCS Software',
       'Havas Interactive', 'Sting', 'Idea Factory', 'Telstar',
       'U.S. Gold', 'Funsta', 'DreamWorks Interactive',
       'Slitherine Software', 'Vic Tokai', 'MTO', 'Tru Blu Entertainment',
       'DHM Interactive', 'Game Life', 'Crytek', 'FunSoft',
       'Data Design Interactive', 'SPS', 'Moss', 'Telegames',
       'NDA Productions', 'Video System', 'Bigben Interactive',
       'Idea Factory International', 'Time Warner Interactive',
       'Gainax Network Systems', 'SNK Playmore', 'O3 Entertainment',
       'O-Games', 'Funbox Media', 'Xicat Interactive',
       'Simon & Schuster Interactive', 'Syscom', 'Valcon Games',
       'PopTop Software', 'Bohemia Interactive', 'Reef Entertainment',
       '5pb', 'HMH Interactive', 'inXile Entertainment', 'Microids',
       'Pinnacle', 'Avalon Interactive', 'CDV Software Entertainment',
       'Type-Moon', 'Enjoy Gaming ltd.', 'Interplay Productions',
       'Asmik Ace Entertainment', 'Image Epoch', 'Phantom EFX',
       'Evolved Games', 'responDESIGN', 'Griffin International',
       'Culture Publishers', 'Hearty Robin', 'Origin Systems',
       'Seventh Chord', 'Abylight', 'Insomniac Games', 'Flight-Plan',
       'Milestone', 'Aksys Games', 'Locus', 'Mad Catz',
       'Irem Software Engineering', 'Global A Entertainment',
       'Alternative Software', 'Mercury Games', 'Sunrise Interactive',
       'Elite', 'Evolution Games', 'Daedalic Entertainment', 'Athena',
       'Aria', 'Happinet', 'Altron', 'Revolution Software', 'Media Works',
       'Gamecock', '10TACLE Studios', 'Groove Games', 'Tommo',
       'Crimson Cow', 'Cave', 'iWin', 'Ecole',
       'Ascaron Entertainment GmbH', 'Phenomedia', 'Grand Prix Games',
       'DigiCube', 'Creative Core', 'Graffiti', 'WayForward Technologies',
       'LSP Games', 'ASCII Media Works', '1C Company', 'Arika',
       'Marvel Entertainment', 'Ertain', 'Prototype', 'Phantagram',
       'The Learning Company', 'TechnoSoft', 'Yeti',
       'Dusenberry Martin Racing', 'Navarre Corp', 'ESP', 'MediaQuest',
       'Team17 Software', 'Max Five', 'Tradewest', 'Comfort',
       'Milestone S.r.l', 'Riverhillsoft', 'Summitsoft', 'Playmore',
       'Kool Kizz', 'Monte Christo Multimedia', 'Legacy Interactive',
       'Cloud Imperium Games Corporation', 'Flashpoint Games',
       'CyberFront', 'Alawar Entertainment', 'DSI Games', 'Interchannel',
       'Hect', 'Experience Inc.', 'Iceberg Interactive', 'Ivolgamus',
       'MC2 Entertainment', '2D Boy', 'Games Workshop', 'Kando Games',
       'Office Create', 'Maximum Family Games', 'Gearbox Software',
       'Princess Soft', 'Extreme Entertainment Group', 'Big Fish Games',
       'Berkeley', 'Mamba Games', 'Fuji', 'FuRyu Corporation',
       'Her Interactive', 'imageepoch Inc.', 'Just Flight', 'Cygames',
       'Kaga Create', 'Introversion Software', '49Games',
       'dramatic create', 'TGL', 'Quinrose', 'Sold Out', 'Encore',
       'G.Rev', 'Sunflowers', 'Headup Games', 'Sweets',
       'Kokopeli Digital Studios', 'id Software', 'Nexon', 'BushiRoad',
       'Devolver Digital', 'Number None', 'Tryfirst', 'GN Software',
       "Yuke's", 'Strategy First', 'Lexicon Entertainment',
       'Kids Station', 'Licensed 4U', 'GOA', 'KID', 'King Records',
       'Minato Station', 'Graphsim Entertainment', 'Easy Interactive',
       'P2 Games', 'Views', 'Blue Byte', 'fonfun', 'NetRevo',
       'Epic Games', 'Coconuts Japan', 'Phoenix Games', 'Marvelous Games',
       'Codemasters Online', 'Aerosoft', 'Focus Multimedia',
       'IE Institute', 'Masque Publishing', '7G//AMES',
       'New World Computing', 'Asgard', 'Virtual Play Games',
       'Datam Polystar', 'Culture Brain', 'HuneX', 'Visco', 'Saurus',
       'Revolution (Japan)', 'Giza10', 'Giga', 'Mycom', 'System Soft',
       'RED Entertainment', 'Lighthouse Interactive', 'Michaelsoft',
       'TopWare Interactive', 'Genterprise', 'Interworks Unlimited, Inc.',
       'Inti Creates', 'Boost On', 'Imagineer',
       'EON Digital Entertainment', 'Nitroplus', 'Piacci',
       'Paradox Development', 'MLB.com', 'Otomate',
       'Ascaron Entertainment', 'Ongakukan', 'Stainless Games',
       'UIG Entertainment', 'Takuyo', 'Interchannel-Holon',
       'Red Flagship'], dtype=object)

In [26]:
# mengecek elemen dari unknown
df[df['Publisher'] == 'Unknown']

                                                    Name  ... Rating
944                      Gran Turismo Concept 2001 Tokyo  ...    NaN
1650                                 NASCAR Thunder 2003  ...      E
2108                                        Suikoden III  ...      T
2224                        Teenage Mutant Ninja Turtles  ...      E
2321                                   Blitz: The League  ...      M
...                                                  ...  ...    ...
16558     Horse Life 4: My Horse, My Friend, My Champion  ...    NaN
16638  The Treasures of Mystery Island 3 Pack - Save ...  ...    NaN
16653                    Real Crimes: The Unicorn Killer  ...    NaN
16706                            STORM: Frontline Nation  ...   E10+
16707                                   Strawberry Nauts  ...    NaN

[168 rows x 12 columns]

In [27]:
# membuang elemen publisher unknown
for index in df[df['Publisher'] == 'Unknown'].index:
  df.drop(index, axis=0, inplace=True)

#### 4.2.5 Kolom Year of Release

In [28]:
# mengecek missing value pada kolom Year of Release
df['Year_of_Release'].isna().sum()

115

In [29]:
# membuang missing value pada kolom Year of Release
for index in df[df['Year_of_Release'].isna()].index:
  df.drop(index, axis=0, inplace=True)

In [30]:
# memastikan missing value telah terbuang
if(df['Year_of_Release'].isna().sum() == 0):
  print("Tidak ada data kosong pada kolom Year_of_Release")
else:
  print("Terdapat data kosong pada kolom Year_of_Release")

Tidak ada data kosong pada kolom Year_of_Release

In [31]:
# mengecek elemen elemen pada kolom Year of Release
df['Year_of_Release'].unique()

array([2006., 2008., 2009., 2005., 2007., 2013., 2004., 2002., 2010.,
       2001., 2011., 2015., 2012., 2014., 1997., 1999., 2016., 2003.,
       1998., 1996., 2000., 1995., 1994., 1992., 2020., 2017., 1985.,
       1988.])

In [32]:
# mengubah type kolom menjadi string karena merupakan kategorikal
df['Year_of_Release'] = df['Year_of_Release'].astype('str')

In [33]:
# mengecek kembali missing value pada dataset
df.isna().sum()

Name                  0
Platform              0
Year_of_Release       0
Genre                 0
Publisher             0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
User_Score         4559
Developer          4496
Rating             4615
dtype: int64

#### 4.2.6 Kolom User Score

In [34]:
# membuang missing value pada kolom user score, developer, dan rating
for index in df[df['User_Score'].isna()].index:
  df.drop(index, axis=0, inplace=True)

for index in df[df['Developer'].isna()].index:
  df.drop(index, axis=0, inplace=True)

for index in df[df['Rating'].isna()].index:
  df.drop(index, axis=0, inplace=True)

In [35]:
# mengecek seluruh missing value pada dataset telah terbuang
if df.isna().sum().sum() == 0:
  print('Dataset bersih dari data kosong')
else:
  print('Masih tedapat data kosong pada dataset')

Dataset bersih dari data kosong

In [36]:
# mengecek elemen elemen pada kolom user score
df['User_Score'].unique()

array(['8', '8.3', '8.5', '8.4', '8.6', '7.7', '7.4', '8.2', '9', '8.1',
       '8.7', '7.1', '3.4', '6.3', '5.3', '4.8', '3.2', '8.9', '6.4',
       '7.8', '7.9', '7.5', '2.6', '7.2', '9.2', '7', '4.3', '6.6', '7.6',
       '5.7', '5', '9.1', '6.5', 'tbd', '8.8', '6.9', '7.3', '9.4', '6.8',
       '6.1', '6.7', '4', '5.4', '4.9', '4.5', '9.3', '4.2', '3.7', '5.8',
       '5.6', '5.9', '3.9', '5.5', '6.2', '5.2', '6', '4.1', '4.7', '4.4',
       '5.1', '3.5', '2.5', '3', '3.1', '2.9', '2.7', '2.2', '2', '4.6',
       '9.5', '2.1', '3.6', '2.8', '3.3', '1.8', '3.8', '0', '1.6', '9.6',
       '2.4', '1.7', '1.1', '0.3', '1.5', '0.7', '1.2', '2.3', '1.3',
       '0.2', '0.5', '0.6', '1.4', '0.9', '1.9', '1', '9.7'], dtype=object)

In [37]:
# mengecek isi elemen tbd pada kolom user score
df[df['User_Score'] == 'tbd']

                                Name Platform  ...                 Developer Rating
119                    Zumba Fitness      Wii  ...  Pipeworks Software, Inc.      E
520                  Zumba Fitness 2      Wii  ...    Majesco Games, Majesco      T
726        Dance Dance Revolution X2      PS2  ...                    Konami   E10+
821                  The Incredibles      GBA  ...                    Helixe      E
1047                   Tetris Worlds      GBA  ...                 3d6 Games      E
...                              ...      ...  ...                       ...    ...
16699                Planet Monsters      GBA  ...        Planet Interactive      E
16701               Bust-A-Move 3000       GC  ...         Taito Corporation      E
16702               Mega Brain Boost       DS  ...        Interchannel-Holon      E
16708                       Plushees       DS  ...            Big John Games      E
16710  Men in Black II: Alien Escape       GC  ...                     Atari      T

[1871 rows x 12 columns]

In [38]:
# membuang row dengan user score tbd
for index in df[df['User_Score'] == 'tbd'].index:
  df.drop(index, axis=0, inplace=True)

In [39]:
# mengubah type data user score menjadi float sebagai fitur numerikal
df['User_Score'] = df['User_Score'].astype('float')

#### 4.2.7 Kolom Developer

In [40]:
# mengecek jumlah elemen berbeda pada kolom developer
df['Developer'].nunique()

1267

In [41]:
# karena jumlah elemen berbeda terlalu banyak dan kolom merupakan kategorikal maka kolom dibuang
df.drop('Developer', axis=1, inplace=True)

#### 4.2.8 Kolom Rating

In [42]:
# mengecek elemen berbeda pada kolom rating
df['Rating'].unique()

array(['E', 'M', 'T', 'E10+', 'K-A', 'AO', 'EC', 'RP'], dtype=object)

### 4.3 Pembersihan data duplikasi

In [43]:
df.duplicated().sum()

0

In [44]:
# mengecek kembali info dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6662 entries, 0 to 16700
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6662 non-null   object
 1   Platform         6662 non-null   object
 2   Year_of_Release  6662 non-null   object
 3   Genre            6662 non-null   object
 4   Publisher        6662 non-null   object
 5   NA_Sales         6662 non-null   float64
 6   EU_Sales         6662 non-null   float64
 7   JP_Sales         6662 non-null   float64
 8   Other_Sales      6662 non-null   float64
 9   User_Score       6662 non-null   float64
 10  Rating           6662 non-null   object
dtypes: float64(5), object(6)
memory usage: 624.6+ KB

In [45]:
# Hasil data setelah melakukan proses cleaning
df.head()

                        Name Platform  ... User_Score Rating
0                 Wii Sports      Wii  ...        8.0      E
2             Mario Kart Wii      Wii  ...        8.3      E
3          Wii Sports Resort      Wii  ...        8.0      E
6      New Super Mario Bros.       DS  ...        8.5      E
8  New Super Mario Bros. Wii      Wii  ...        8.4      E

[5 rows x 11 columns]

In [46]:
# mendeskripsikan kembali kolom kolom numerikal
df.describe()

          NA_Sales     EU_Sales     JP_Sales  Other_Sales   User_Score
count  6662.000000  6662.000000  6662.000000  6662.000000  6662.000000
mean      0.370982     0.224319     0.059917     0.080369     7.165596
std       0.925752     0.666564     0.275964     0.267998     1.492732
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.060000     0.020000     0.000000     0.010000     6.500000
50%       0.140000     0.050000     0.000000     0.020000     7.500000
75%       0.370000     0.200000     0.010000     0.070000     8.200000
max      41.360000    28.960000     6.500000    10.570000     9.700000

### 4.4 Menstrukturkan kembali data

#### 4.4.1 Membuat dataframe berisi nama game

In [47]:
# menyimpan nama-nama game pada dataframe baru
df_game_name = pd.DataFrame({'Game': df['Name']}).reset_index(drop=True)
df_game_name.head()

                        Game
0                 Wii Sports
1             Mario Kart Wii
2          Wii Sports Resort
3      New Super Mario Bros.
4  New Super Mario Bros. Wii

In [48]:
# menggunakan kolom aplikasi sebagai index
df.set_index('Name', inplace=True)
df.head()

                          Platform Year_of_Release  ... User_Score Rating
Name                                                ...
Wii Sports                     Wii          2006.0  ...        8.0      E
Mario Kart Wii                 Wii          2008.0  ...        8.3      E
Wii Sports Resort              Wii          2009.0  ...        8.0      E
New Super Mario Bros.           DS          2006.0  ...        8.5      E
New Super Mario Bros. Wii      Wii          2009.0  ...        8.4      E

[5 rows x 10 columns]

#### 4.4.2 Konversi label kategorikal dengan one-hot encoding

In [49]:
# memilih semua kolom dengan datatype object
column_object = df.dtypes[df.dtypes == 'object'].keys()
column_object

Index(['Platform', 'Year_of_Release', 'Genre', 'Publisher', 'Rating'], dtype='object')

In [50]:
# mengonversikan data kategori ke one-hot encoding
one_hot_label = pd.get_dummies(df[column_object])
one_hot_label.head(3)

                   Platform_3DS  Platform_DS  ...  Rating_RP  Rating_T
Name                                          ...
Wii Sports                    0            0  ...          0         0
Mario Kart Wii                0            0  ...          0         0
Wii Sports Resort             0            0  ...          0         0

[3 rows x 315 columns]

In [51]:
# menghapus kolom dengan type data object
df.drop(column_object,axis=1,inplace=True)
df.head()

                           NA_Sales  EU_Sales  ...  Other_Sales  User_Score
Name                                           ...
Wii Sports                    41.36     28.96  ...         8.45         8.0
Mario Kart Wii                15.68     12.76  ...         3.29         8.3
Wii Sports Resort             15.61     10.93  ...         2.95         8.0
New Super Mario Bros.         11.28      9.14  ...         2.88         8.5
New Super Mario Bros. Wii     14.44      6.94  ...         2.24         8.4

[5 rows x 5 columns]

In [52]:
# menyatukan data one-hot encoding dengan data keseluruhan
df = pd.concat([df,one_hot_label],axis=1)
df.head()

                           NA_Sales  EU_Sales  ...  Rating_RP  Rating_T
Name                                           ...
Wii Sports                    41.36     28.96  ...          0         0
Mario Kart Wii                15.68     12.76  ...          0         0
Wii Sports Resort             15.61     10.93  ...          0         0
New Super Mario Bros.         11.28      9.14  ...          0         0
New Super Mario Bros. Wii     14.44      6.94  ...          0         0

[5 rows x 320 columns]

#### 4.4.3 Standarisasi kolom numerikal

In [53]:
# memilih semua kolom dengan datatype float
column_numeric = list(df.dtypes[df.dtypes == 'float64'].keys())
column_numeric

['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'User_Score']

In [54]:
# inisiasi MinMaxScaler
scaler = MinMaxScaler()

In [55]:
# Standarisasi data kolom numerikal
scaled = scaler.fit_transform(df[column_numeric])

In [56]:
# mengganti data dengan yang telah di standarissasi
i=0
for column in column_numeric:
    df[column] = scaled[:,i]
    i += 1

In [57]:
# melihat hasil data setelah distandarisasi dan di one-hot encoding
df.head()

                           NA_Sales  EU_Sales  ...  Rating_RP  Rating_T
Name                                           ...
Wii Sports                 1.000000  1.000000  ...          0         0
Mario Kart Wii             0.379110  0.440608  ...          0         0
Wii Sports Resort          0.377418  0.377417  ...          0         0
New Super Mario Bros.      0.272727  0.315608  ...          0         0
New Super Mario Bros. Wii  0.349130  0.239641  ...          0         0

[5 rows x 320 columns]

In [58]:
# mendeskripsikan lagi data
df.describe()

          NA_Sales     EU_Sales  ...    Rating_RP     Rating_T
count  6662.000000  6662.000000  ...  6662.000000  6662.000000
mean      0.008970     0.007746  ...     0.000150     0.347493
std       0.022383     0.023017  ...     0.012252     0.476210
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.001451     0.000691  ...     0.000000     0.000000
50%       0.003385     0.001727  ...     0.000000     0.000000
75%       0.008946     0.006906  ...     0.000000     1.000000
max       1.000000     1.000000  ...     1.000000     1.000000

[8 rows x 320 columns]

## 5. Membuat Model Sistem Rekomendasi *Content-based Filtering*

### 5.1 Menggunakan algoritma K-NearestNeighbors

In [59]:
# Membuat sistem rekomendasi dengan model K-Nearest Neighbor
# Inisiasi model 
model = NearestNeighbors(metric='euclidean')

# Melakukan fitting model terhadap data
model.fit(df)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='euclidean',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [60]:
# Membuat fungsi untuk mendapatkan rekomendasi game
def GameRecommended(gamename:str, recommended_games:int=6):
  print(f'Apabila pengguna menyukai Game: \n{gamename[0]}\n5 Game berikut ini direkomendasikan untuk dimainkan:')
  # Mencari game dengan kesamaan tertinggi dengan game yang disukai pengguna
  distances, neighbors = model.kneighbors(df.loc[gamename],n_neighbors=recommended_games)
  # Memasukkan game yang direkomendasikan pada sebuah list
  similar_game = []
  for gamename in df_game_name.loc[neighbors[0][:]].values:
    similar_game.append(gamename[0])
  # Memasukan skornya (jarak) pada sebuah list
  similar_distance = []
  for distance in distances[0]:
    similar_distance.append(f"{round(100-distance, 2)}%")
  # Mengembalikan sebuah dataframe berupa rekomendasi game
  return pd.DataFrame(data = {"Nama Aplikasi" : similar_game[1:], "Tingkat Kesamaan" : similar_distance[1:]})

In [61]:
# Memberikan rekomendasi terhadap game yang serupa dengan game yang dipilih
GameRecommended(df_game_name.loc[111])

Apabila pengguna menyukai Game:
Final Fantasy IX
5 Game berikut ini direkomendasikan untuk dimainkan:

           Nama Aplikasi Tingkat Kesamaan
0     Final Fantasy VIII           98.58%
1  Final Fantasy Tactics           98.57%
2              Xenogears           98.55%
3    Tales of Destiny II           98.55%
4           Chrono Cross           98.55%

### 5.2 Menggunakan Cosine Similarity

In [62]:
# Menghitung cosine similarity dari dataframe
cosine_sim = cosine_similarity(df)

# Menyimpan hasil perhitungan pada dataframe
cosine_sim_df = pd.DataFrame(cosine_sim, index=df_game_name['Game'], columns=df_game_name['Game'])
cosine_sim_df.head(3)

Game               Wii Sports  ...    Breach
Game                           ...
Wii Sports           1.000000  ...  0.072453
Mario Kart Wii       0.681225  ...  0.086671
Wii Sports Resort    0.806006  ...  0.084915

[3 rows x 6662 columns]

In [63]:
# Membuat fungsi untuk mendapatkan rekomendasi dengan Cosine Similarity
def CosineGameRecommended(gamename:str, recommended_games:int=5):
  print(f'Apabila pengguna menyukai Game: \n{gamename[0]}\n5 Game berikut ini direkomendasikan untuk dimainkan:')
  # Mencari nilai unik pada game yang disukai pengguna di baris dataframe cosine sim
  # Nilai unik (arr) dikembalikan dalam bentuk yang berurutan dari kecil ke besar 
  arr, ind = np.unique(cosine_sim_df.loc[gamename[0]], return_index=True)
  # Memasukkan nama game yang serupa dari index kedua terakhir sampai index n terakhir
  similar_game = []
  for index in ind[-(recommended_games+1):-1]:
    similar_game.append(df_game_name.loc[index][0])
  # Memasukkan skor cosine dari game yang serupa mulai dari index kedua terakhir sampai index n terakhir
  cosine_score = []
  for score in arr[-(recommended_games+1):-1]:
    cosine_score.append(score)
  # Mengembalikan sebuah dataframe berupa rekomendasi terhadap game yang dipilih
  return pd.DataFrame(data = {"Nama Aplikasi" : similar_game, "Cosine Similarity" : cosine_score}).sort_values(by='Cosine Similarity',ascending=False)

In [64]:
# memberikan rekomendasi dengan cosine similarity pada game yang dipilih
CosineGameRecommended(df_game_name.loc[111])

Apabila pengguna menyukai Game:
Final Fantasy IX
5 Game berikut ini direkomendasikan untuk dimainkan:

           Nama Aplikasi  Cosine Similarity
4     Final Fantasy VIII           0.833562
3  Final Fantasy Tactics           0.825829
2              Xenogears           0.823134
1    Tales of Destiny II           0.822043
0           Chrono Cross           0.820439

## 6. Evaluasi Model Sistem Rekomendasi K-NearestNeighbors

### 6.1 Skor Calinski Harabasz

In [65]:
calinski_harabasz_score(df, df_game_name).round(2)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

5.09

### 6.2 Skor Davies Bouldin

In [66]:
davies_bouldin_score(df, df_game_name).round(2)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

2.93

## Penutupan
Model untuk memberikan rekomendasi game dengan *content-based filtering* telah selesai dibuat. Setelah diujikan, model ini bekerja cukup baik dalam memberikan 5 rekomendasi teratas terhadap game yang mungkin disukai/dimainkan pengguna. Namun demikian, masih ada beberapa kekurangan dari model yang dibuat seperti yang terlihat pada skor Calinski Harabasz dan Davies Bouldin. Untuk memperbaikinya dapat digunakan algoritma untuk membuat model rekomendasi yang lain seperti menggunakan deep learning ataupun *collaborative filtering* lalu dibandingkan performanya dengan model KNN saat ini.

### Referensi
- Dokumentasi Scikit-learn: [https://scikit-learn.org/stable/modules/classes.html](https://scikit-learn.org/stable/modules/classes.html)
- Referensi Laporan: [Contoh Algoritma Sistem Rekomendasi dengan Dokumentasi](https://github.com/fahmij8/ML-Exercise/blob/main/MLT-2/MLT_Proyek_Submission_2.ipynb)
- Dataset: [Game Sales with Rating Dataset](https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings)